In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Cleaning the data 
Making it rf friendly

In [2]:
titanic = pd.read_csv('train.csv')

In [3]:
X_cols = titanic.columns
X_cols = X_cols.drop('Age')
X_cols = X_cols.drop('Cabin')
titanic = titanic[X_cols]

In [4]:
X_cols_cats = titanic.columns
X_cols_cats = X_cols_cats.drop('Name')
X_cols_cats = X_cols_cats.drop('Ticket')
titanic = titanic[X_cols_cats]

In [5]:
titanic['Sex_m'] = (titanic['Sex'] == 'male').astype('int')
titanic['Embarked_S'] = (titanic['Embarked'] == 'S').astype('int')
titanic['Embarked_C'] = (titanic['Embarked'] == 'C').astype('int')
titanic = titanic.drop(['Sex', 'Embarked'], axis=1)
titanic.head()

,PassengerId,Survived,Pclass,SibSp,Parch,Fare,Sex_m,Embarked_S,Embarked_C
0,1,0,3,1,0,7.2500,1,1,0
1,2,1,1,1,0,71.2833,0,0,1
2,3,1,3,0,0,7.9250,0,1,0
3,4,1,1,1,0,53.1000,0,1,0
4,5,0,3,0,0,8.0500,1,1,0

In [6]:
X_cols = titanic.columns
X_cols = X_cols.drop('Survived')
X_titanic = titanic[X_cols]
y_titanic = titanic['Survived']
X_titanic.head()

   PassengerId  Pclass  SibSp  Parch     Fare  Sex_m  Embarked_S  Embarked_C
0            1       3      1      0   7.2500      1           1           0
1            2       1      1      0  71.2833      0           0           1
2            3       3      0      0   7.9250      0           1           0
3            4       1      1      0  53.1000      0           1           0
4            5       3      0      0   8.0500      1           1           0

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X_titanic, y_titanic, random_state=99)

# Playing with yolo RF

In [8]:
from src.decision_tree import DecisionTree
from src.random_forest import RandomForest

In [9]:
dt = DecisionTree()

In [10]:
dt.fit(X_train.values, y_train.values)

In [11]:
preds_dt = dt.predict(X_test.values)
sum(preds_dt == y_test)/len(y_test)

0.7130044843049327

In [12]:
rf_0 = RandomForest()
rf_0.fit(X_train.values, y_train.values)

In [13]:
preds_rf = rf_0.predict(X_test.values)
sum(preds_rf == y_test)/len(y_test)

0.7713004484304933

In [14]:
rf_1 = RandomForest(n_trees=10, subsample_size=0.8, feature_proportion=0.8)
rf_1.fit(X_train.values, y_train.values)

In [15]:
preds_rf1 = rf_1.predict(X_test.values)
sum(preds_rf1 == y_test)/len(y_test)

0.7847533632286996